.cv {
  width: 45%;
  background-color: rgb(255, 255, 255);
  margin-top: 3rem;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid black;
  height: 30%;
  max-height: 1100px;
}
@media (max-width: 800px) {
  .cv {
    width: 90%;
  }
}
